.App {
  text-align: center;
}

.App-footer {
  background-color: #282c34;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.test:hover {
  opacity: 0.5;
}

.comp-profile-pic {
  animation: test 1s ease-in;
}

.profile {
  height: 100px;
  width: 100px;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.links div {
  width: 250px;
  height: 250px;
}

@keyframes test {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  50% {
    opacity: 0.3;
    transfor: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
